<%= bootstrap_form_for(@tour_price) do |f| %>

  <% if @tour_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour_price.errors.count, "error") %> prohibited this tour_price from being saved:</h2>

      <ul>
      <% @tour_price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, placeholder: "Enter pricing level name" %>
  <%= f.number_field :duration, placeholder: "Enter duration of tour in hours" %>
  <%= f.number_field :price_adult, placeholder: "Enter price for an adult" %>
  <%= f.number_field :price_child, placeholder: "Enter price for a child" %>
  <%= f.text_field :currency, placeholder: "Enter currency" %>
  <%= f.submit %>

<% end %>
