<%= form_for(@tour_price) do |f| %>
  <% if @tour_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour_price.errors.count, "error") %> prohibited this tour_price from being saved:</h2>

      <ul>
      <% @tour_price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :price_adult %><br>
    <%= f.text_field :price_adult %>
  </div>
  <div class="field">
    <%= f.label :price_child %><br>
    <%= f.text_field :price_child %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
