<div class='container'>
  <h2>Tour Prices</h2>


  <div class='media'>
    <div class='media-body'>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Price adult</th>
            <th>Price child</th>
            <th>Currency</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @tour_prices.each do |tour_price| %>
          <tr>
            <td><%= tour_price.name %></td>
            <td><%= tour_price.duration %></td>
            <td><%= tour_price.price_adult %></td>
            <td><%= tour_price.price_child %></td>
            <td><%= tour_price.currency %></td>
            <td><%= link_to 'Show', tour_price, class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_tour_price_path(tour_price), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Destroy', tour_price, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <%= link_to 'New Tour price', new_tour_price_path %>
</div>
