<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
          <img alt= 'Querla Tours' src="https://s3.amazonaws.com/your-tour-images/icons/Querla-03-Cropped.png" height= '45'/>
<!--           <h1>Hi <%= @user.name %>!</h1> -->
          <h2>Thank you for your booking</h2>
          <hr>

          <h2>Tour name: <%= @booking.calendar.tour.name %></h2>
          <ul>
            <li>Meeting point: <%= @booking.calendar.tour.meeting_point_description%></li>
            <li><%= @booking.calendar.calendar_datetime.strftime(" %b-%d %Y at %I:%M%p") %></li>
            <li> Adults x <%= @booking.count_adult %></li>
            <% if @booking.count_child > 0%>
            <li>Children x <%= @booking.count_child %></li>
            <% end %>
          </ul>
    
          <p>You can view the status of your booking by logging into your account and clicking on the Bookings page at http://www.querla.com/bookings.</p>
    
          <hr>
          <h4>Have questions? Email <a href="mailto:support@querla.com">support@querla.com</a></h4>
          <h4>Follow us on:</h4>
          <!--       <div class="col-md-12"> -->
          <a href="https://facebook.com/querlatours"><img alt= 'Facebook' src="https://ci5.googleusercontent.com/proxy/P3TwUvocPUatR3oXO2nUBEN-trvT4MRHA1N-KVPIV5-YbmfTf350EIBoXaJMNO2N31hci3pT2cgrswy2dW0t9d-N_HGMSju6IoAA-a_VZQFRJAW-=s0-d-e1-ft#http://im.uniqlo.com/images/us/pc/img/mail/ico_facebook_US.png" height= '30' width='30'/></a>
          <a href="https://twitter.com/querlatours"><img alt= 'Twitter' src="https://ci4.googleusercontent.com/proxy/KBW7Utmgahj6DwWJSWDPB2ldmjAqcbpszE-qk-Li6nNtHm1ygQDaR_9tgwKXeD7EXdESZFtPnY3GGWEyleKqejo0RsNLZXSlTRRvvXL_xaBspUk=s0-d-e1-ft#http://im.uniqlo.com/images/us/pc/img/mail/ico_twitter_US.png" height= '30' width='30'/></a>
          <!--     </div> -->

  </body>
</html>