<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class='container'>
      <div class='row'>
          <h1>Hi <%= @user.name %>!</h1>
          <h2>Thank you for your booking</h2>
          <hr>
      </div>
      <div class= 'col-md-6'>
        <div class="panel panel-info">
          <div class="panel-heading">
              <h2>Tour name: <%= @booking.calendar.tour.name %></h2>
              <ul>
                  <li>Meeting point: <%= @booking.calendar.tour.meeting_point_description%></li>
                  <li><%= @booking.calendar.calendar_datetime.strftime(" %b-%d %Y at %I:%M%p") %></li>
                  <li> Adults x <%= @booking.count_adult %> at $<%= @booking.calendar.tour.tour_price.price_adult %></li>
                  <% if @booking.count_child > 0%>
                  <li>Children x <%= @booking.count_child %> at $<%= @booking.calendar.tour.tour_price.price_child %></li>
                  <% end %>
                  <li>Total $<%= @booking.total %></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>