<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <strong>DateTime:</strong>
  <%= @calendar.calendar_datetime %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @calendar.tour.name %>
</p>

<p>
  <strong>Tour Description:</strong>
  <%= @calendar.tour.short_description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @calendar.tour.tour_price.price_adult %>
</p>

<div class='field'>
  <%= label_tag :card_number, "Credit Card number" %>
  <%= text_field_tag :card_number, nil, name: nil %>
</div>

<div class='field'>
  <%= label_tag :card_code, "Security Code on Card (CVV)" %>
  <%= text_field_tag :card_code, nil, name: nil %>
</div>

<div class='field'>
  <%= label_tag :card_month, "Card Expiration" %>
  <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: 'card_year'}%>
</div>

<div id='stripe_error'>
  <noscript> Javascript is not enabled and is required on this form. Please enable.</noscript>
</div>

<%= link_to 'Create a booking', {:controller => "bookings", 
                       :action => "create", 
                       :calendar_id => @calendar.id,
                       :user_id => current_user.id},
                       :method => "post" %>
<% end %>

<div class='actions'>
  <%= f.submit "Subsribe" %>
</div>




