<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>Test with params</p>
<%= params[:calendar_id]%>
<p>Test with find method</p>
<%= Calendar.find(params[:calendar_id]).id %>
<p>TEst with instance variable</p>
<%= @calendar %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
