<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <strong>DateTime:</strong>
  <%= @calendar.calendar_datetime %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @calendar.tour.name %>
</p>

<p>
  <strong>Tour Description:</strong>
  <%= @calendar.tour.short_description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @calendar.tour.tour_price.price_adult %>
</p>

<%= link_to 'Create a booking', {:controller => "bookings", 
                       :action => "create", 
                       :calendar_id => @calendar.id,
                       :user_id => current_user.id},
                       :method => "post" %>
<% end %>


