<%= bootstrap_form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.number_field :count_adult, placeholder: "Number of Adults" %>
  <%= f.number_field :count_child, placeholder: "Number of Children" %> 
  <%= hidden_field_tag :calendar_id, params[:calendar_id] %>

  <%= f.submit %>
<% end %>

