<h1>New Booking for <%=@calendar.tour.name%></h1>

<h2>Tour Details</h2>

<p>
  <strong>DateTime:</strong>
  <%= @calendar.calendar_datetime %>
</p>

<p>
  <strong>Tour Description:</strong>
  <%= @calendar.tour.short_description %>
</p>

<%= render 'form' %>

<%= link_to 'Back', :back %>