<p id="notice"><%= notice %></p>

<h1>Tour Booking</h1>

<p>
  <strong>Customer Name:</strong>
  <%= @booking.user.name %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @booking.calendar.tour.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @booking.calendar.tour.short_description %>
</p>

<p>
  <strong>Date Time:</strong>
  <%= @booking.calendar.calendar_datetime %>
</p>

<p>
  <strong>Number of Adults:</strong>
  <%= @booking.count_adult %>
  <strong> @ </strong>
  <%= @booking.calendar.tour.tour_price.price_adult %>
</p>

<p>
  <strong>Number of Children:</strong>
  <%= @booking.count_child %>
  <strong> @ </strong>
  <%= @booking.calendar.tour.tour_price.price_child %>
</p>

<p>
  <strong>Total:</strong>
  <%= @booking.total %>
</p>

<p>
  <strong>Meeting Point:</strong>
  <%= @booking.calendar.tour.meeting_point_description %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@booking.calendar.tour.latitude}%2C#{@booking.calendar.tour.longitude}" %>
<br>

<p>
  <% if @booking.status === 'pending'%>
    <%= link_to "Confirm", new_charge_path(:booking_id => @booking.id), notice: 'Please confirm payment', class: 'btn btn-primary'%>
  <%end%>
</p>

<p>
  <%= link_to 'Back', :back %>
</p>
