<h3>Administration Links</h3>
<ul class="nav nav-pills nav-stacked">
  <li><%= link_to "Booking", bookings_path %></li>
  <li><%= link_to "Calendar", calendars_path %></li>
  <li><%= link_to "Tours", tours_path %></li>
  <li><%= link_to "Tour Guides", tour_guides_path %></li>
  <li><%= link_to "Pricing Model", tour_prices_path%></li>
  <li><%= link_to "Cities", tour_cities_path%></li>
  <li><%= link_to "Users", users_path%></li>
  <li><%= link_to "Calendar Requests", calendar_requests_path%></li>
</ul>