<h3>Administration Links</h3>
<p><%= link_to "Booking", bookings_path %></p>
<p><%= link_to "Calendar", calendars_path %></p>
<p><%= link_to "Tours", tours_path %></p>
<p><%= link_to "Tour Guides", tour_guides_path %></p>
<p><%= link_to "Pricing Model", tour_prices_path%></p>
<p><%= link_to "Cities", tour_cities_path%></p>
<p><%= link_to "Users", users_path%></p>
<p><%= link_to "Calendar Requests", calendar_requests_path%></p>