<div class="container-fluid">
  <div class="row header-panel">
    <div class="col-md-12">
      <h1><strong>Your Local Guide</strong></h1>
      <h1><small>Discover the world the way others see it</small></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
    </div>
  </div>
  
  <div class="row search-panel">
    <div class="col-md-3">
      <h4>What interests you? Test</h4>
    </div>
    <div class="col-md-6 search-bar">
        <div class='pull-left range-query search-bar'>
          <%= form_tag welcome_index_path, method: :get do %>
          <%= text_field_tag :search_location, params[:search_location], :placeholder => "Location" %>
          <%= text_field_tag :search, params[:search], :placeholder => "Interest" %>
          <%= submit_tag 'Search', class: 'btn search-btn'%>
          <% end %>
        </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  
  <div class='row'>
  </div>
  
  <div class="row ">
    <% @tours.each do |tour| %>
      <div class="col-md-4 image-panel">
        <%= link_to(image_tag(tour.tour_image.url(:square)), tour_path(tour.id)) %>
        <h4><%= tour.name %></h4>
      </div>
		<% end %>
  </div>
  

</div>
