<div class="container">
  <div class="row header-panel">
    
    
    <%= link_to welcome_guide_path do %>
    <div class="btn button_green">
          <h4>Be a Guide</h4>
    </div>
    <% end %>
    
            <%= link_to "#how", "data-toggle" => "modal" do %>
        <div class="btn button_pink">
          <h4>How it Works</h4>
        </div>
    
    
    <div class="title">
<!--       <h1> Querla</h1> -->
<!--         <h1>Your Local Guide.</h1> -->
        <img alt="Logo" src="/assets/Querla-01-Sized.png" height=249 width=1000/>
<!--         <h2>Discover the world the way others see it</h2> -->

        <% end %>
    </div>
    
    <div class="col-lg-12">
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
    </div>
  </div>
  <div class="row search-panel">
      <div class='search-panel-wrapper'>
      <%= form_tag welcome_index_path, method: :get, :class => "navbar-form" do %>
        <div class='input-placeholder-group'>
          <div class='input-group'>
            <%= text_field_tag :search, params[:search], class: 'form-control', :placeholder => "What interests you?" %>
          </div> 
        </div>
        <div class='input-placeholder-group'>
          <div class='input-group'>
            <%= text_field_tag :search_location, params[:search_location], class: 'form-control', :placeholder => "Location" %>
          </div>
        </div>
        <div class='input-placeholder-group'>
          <div class="input-daterange input-group input-contrast" id="datepicker">
            <!--           <input type="text" class="input-sm form-control" name="start" /> -->
            <%= text_field_tag :start,  params[:start], class: 'input form-control', placeholder: "From"%>
            <span class="input-group-addon">to</span>
            <%= text_field_tag :end,  params[:start], class: 'input form-control', placeholder: "To"%>
          </div>
        </div>
        <%= submit_tag 'Search', class: 'btn search-btn'%>
      <% end %>
    </div>
  </div>
  
  <div class='container-fluid'>
  
  <div class='row'>
  </div>
  
  <div class="row ">
    <% @tours.each do |tour| %>
      <div class="col-md-4">
        <div class='thumbnail'>
        <%= link_to(image_tag(tour.tour_image.url(:square)), tour_path(tour.id)) %>
          <div class='caption'>
            <h4><%= tour.name %></h4>
          </div>
        </div>
      </div>
		<% end %>
  </div> 
  </div>
    
  <div class = 'row info_bottom'> 
    <div class='row'></div>
    <div class='row'>
      <div class="col-md-3"></div>
      <div class="col-md-2">    
        <ul>
          <li><h4>Company</h4></li>
          <li><%= link_to "Become a Guide", welcome_guide_path %></li>
          <li><a href="https://querlatours.zendesk.com/hc/en-us">FAQ</a><li>
        </ul>
      </div>
      <div class="col-md-2">    
        <ul>
          <li><h4>Contact</h4></li>
          <li><address><a href="mailto:support@querla.com">support@querla.com</a></address></li>
        </ul>
      </div>
      <div class="col-md-2">    
        <ul>
          <li><h4>Address</h4></li>
          <li>Coming soon!</li>
        </ul>
      </div>
    </div>
    <div class= 'row'>
      <div class='col-md-3'></div>
      <div class='col-md-6'><hr></div>
      <div class='col-md-3'></div>
    </div>
   `<div class = 'row social-wrapper'> 
     <h4>Follow us on</h4>
      <div class="col-md-12">
        <a href="https://facebook.com/querlatours"><img alt= 'Facebook' src="/assets/social_facebook_cropped.png" height= '45' width='45'/></a>
        <a href="https://twitter.com/querlatours"><img alt= 'Twitter' src="/assets/social_twitter_cropped.png" height= '45' width='45'/></a>
        <a href="https://instagram.com/querlatours"><img alt= 'Instagram' src="/assets/social_instagram_cropped.png" height= '45' width='45'/></a>
    </div>
    </div>
    </div>
  </div>
  

