<div class="container">
  <div class="row header-panel">
    
    <%= link_to welcome_guide_path do %>
    <div class="btn button_green">
          <h4>Be a Guide</h4>
    </div>
    <% end %>
    
    
    <div class="title">
        <h1>Your Local Guide.</h1>
      <p>201506291812-improve-booking-confirmation</p>
        <h2>Discover the world the way others see it</h2>
        <%= link_to "#how", "data-toggle" => "modal" do %>
        <div class="btn button_pink">
          <h4>How it Works</h4>
        </div>
        <% end %>
    </div>
    
    <div class="col-lg-12">
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
    </div>
  </div>
  <div class="row search-panel">
    <div class="col-md-4">
    </div>
    <div class="col-md-8 ">
       <div class='pull-left'>
            <%= form_tag welcome_index_path, method: :get, :class => "form-inline" do %>
              <div class='form-group'>
                <%= text_field_tag :search_location, params[:search_location], class: 'form-control', :placeholder => "Location" %>
             </div>
             <div class='form-group'>
              <%= text_field_tag :search, params[:search], class: 'form-control', :placeholder => "Interest" %>
             </div>
              <%= submit_tag 'Search', class: 'btn search-btn'%>
              <% end %>
        </div>
    </div>
    
    <div class="col-md-4">
    </div>
  </div>
  
  <div class='container-fluid'>
  
  <div class='row'>
  </div>
  
  <div class="row ">
    <% @tours.each do |tour| %>
      <div class="col-md-4">
        <div class='thumbnail'>
        <%= link_to(image_tag(tour.tour_image.url(:square)), tour_path(tour.id)) %>
          <div class='caption'>
            <h4><%= tour.name %></h4>
            <p><%= tour.short_description %></p>
          </div>
        </div>
      </div>
		<% end %>
  </div>
    
  </div>
    
  <div class = 'row info_bottom'>  
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <p><strong>Company</strong></p>
        <p><%= link_to "About", welcome_about_path %></p>
        <p><%= link_to "Contact", welcome_contact_path %></p>
      </div>
      <div class="col-md-1">
        <p><strong>Guides</strong></p>
        <p><%= link_to "Apply", welcome_guide_path %></p>
      </div>
      <div class="col-md-9"></div>
  </div>
  

</div>
