<div class="container">
  <div class="row header-panel">
    

    
    <%= link_to welcome_guide_path do %>
    <div class="btn button_green">
          <h4>Be a Guide</h4>
    </div>
    <% end %>
    
    
    <div class="title">
        <h1>Your Local Guide.</h1>
        <h2>Discover the world the way others see it</h2>
        <%= link_to "#how", "data-toggle" => "modal" do %>
        <div class="btn button_pink">
          <h4>How it Works</h4>
        </div>
        <% end %>
    </div>
    
    <div class="col-lg-12">
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
    </div>
  </div>
  <div class="row search-panel">
    <div class='col-md-2'></div>
    <div class="col-md-8 ">
      <%= form_tag welcome_index_path, method: :get, :class => "navbar-form" do %>
      <div class="searchbar-input-wrapper">
        <div class='input-placeholder-group'>
          <div class='input-group'>
            <%= text_field_tag :search, params[:search], class: 'form-control', :placeholder => "What interests you?" %>
          </div> 
        </div>
        <div class='input-placeholder-group'>
          <div class='input-group'>
            <%= text_field_tag :search_location, params[:search_location], class: 'form-control', :placeholder => "Location" %>
          </div>
        </div>
        <div class='input-placeholder-group'>
          <div class="input-daterange input-group input-contrast" id="datepicker">
            <!--           <input type="text" class="input-sm form-control" name="start" /> -->
            <%= text_field_tag :start,  params[:start], class: 'input form-control', placeholder: "From"%>
            <span class="input-group-addon">to</span>
            <%= text_field_tag :end,  params[:start], class: 'input form-control', placeholder: "To"%>
          </div>
        </div>
        <%= submit_tag 'Search', class: 'btn search-btn'%>
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  
  <div class='container-fluid'>
  
  <div class='row'>
  </div>
  
  <div class="row ">
    <% @tours.each do |tour| %>
      <div class="col-md-4">
        <div class='thumbnail'>
        <%= link_to(image_tag(tour.tour_image.url(:square)), tour_path(tour.id)) %>
          <div class='caption'>
            <h4><%= tour.name %></h4>
            <p><%= tour.short_description %></p>
          </div>
        </div>
      </div>
		<% end %>
  </div>
    
  </div>
    
  <div class = 'row info_bottom'>  
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <p><strong>Company</strong></p>
        <p><%= link_to "About", welcome_about_path %></p>
        <p><%= link_to "Contact", new_ticket_path %></p>
      </div>
      <div class="col-md-1">
        <p><strong>Guides</strong></p>
        <p><%= link_to "Apply", welcome_guide_path %></p>
      </div>
      <div class="col-md-9"></div>
  </div>
  

</div>
