<%= bootstrap_form_for(@tour) do |f| %>

  <% if @tour.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

        <ul>
        <% @tour.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <%= f.text_field :name, placeholder: "Enter tour name" %>
  <%= f.text_field :short_description, placeholder: "Enter short description" %>
  <%= f.text_area :long_description, placeholder: "Enter long description" %>
  <%= f.collection_select :tour_guide_id, TourGuide.all, :id, :name %>
  <%= f.collection_select :tour_city_id, TourCity.all, :id, :city %>
  <%= f.text_field :meeting_point_description, placeholder: "Enter description of meeting place" %>
  <%= f.text_field :address, placeholder: "Enter address of meeting point" %>
  <%= f.text_field :latitude, placeholder: "This field will be automatically filled" %>
  <%= f.text_field :longitude, placeholder: "This field will be automatically filled" %>
  <%= f.collection_select :tour_price_id, TourPrice.all, :id, :name %>
  <%= f.number_field :min_customer_threshold, placeholder: "Min # of customers for tour" %>
  <%= f.file_field :tour_image %>

  <%= f.submit "Save" %>
<% end %>

  

