<h1>Listing tours</h1>

<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Name</th>
<<<<<<< HEAD
      <th>Short description</th>
=======
      <th>Description short</th>
>>>>>>> adding-tours
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.created_at %></td>
        <td><%= tour.name %></td>
<<<<<<< HEAD
        <td><%= tour.short_description %></td>
=======
        <td><%= tour.description_short %></td>
>>>>>>> adding-tours
        <td><%= link_to 'Show', tour %></td>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour', new_tour_path %>
