<div class='row'>

  <h1>Tours</h1>
  <div class='pull-right range-query'>
    <%= form_tag tours_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', class: 'btn search-btn'%>
    <% end %>
  </div>
</div>

<div class='media'>
  <div class='media-body'>
    
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Created at</th>
          <th>Name</th>
          <th>Short description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tours.each do |tour| %>
          <tr>
            <td><%= tour.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= tour.name %></td>
            <td><%= tour.short_description %></td>
            <td><%= link_to 'Show', tour, class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_tour_path(tour), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Destroy', tour, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<h3> Import Tours </h3>
<%= form_tag import_tours_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Tours" %>
<% end %>

<%= link_to 'New Tour', new_tour_path %>
