<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @tour.created_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @tour.short_description %>
</p>

<p>
  <strong>Long description:</strong>
  <%= @tour.long_description %>
</p>

<p>
  <strong>Tour Guide:</strong>
  <%= @tour.tour_guide.name %>
</p>

<p>
  <strong>Tour City:</strong>
  <%= @tour.tour_city.city %>
</p>

<p>
  <strong>Meeting Point Description:</strong>
  <%= @tour.meeting_point_description %>
</p>

<p>
  <strong>Meeting Point Latitude:</strong>
  <%= @tour.meeting_point_latitude %>
</p>

<p>
  <strong>Meeting Point Longitude:</strong>
  <%= @tour.meeting_point_longitude %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tour.tour_price.name %>
</p>

<p>
  <strong>Min Customer Threshold:</strong>
  <%= @tour.min_customer_threshold %>
</p>


<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
