<p id="notice"><%= notice %></p>

<div class='container-fluid'>
  
  


  <div class='row'>
    <div class="col-md-12">
      <%= image_tag @tour.tour_image.url(:long) %>
    </div>
  </div>
  
    <div class='row'>
    <div class="col-md-12">
      <h1><%= @tour.name %></h1>
    </div>
  </div>
      <hr>
  
  <div class='row'>
    <div class="col-md-2">
      <h3>Description</h3>
     </div>
    <div class='col-md-6'>
      <%= @tour.long_description %>
    </div>
    <div class='col-md-4'>
    </div>   

  </div>
      <hr>
  
    <div class='row'>
    <div class="col-md-2">
      <h3>Details</h3>
     </div>
    <div class='col-md-6'>
      <ul>
        <li>Duration: <%= @tour.tour_price.duration %> hour</li>
        <li>Meeting Place: <%= @tour.meeting_point_description %></li>
        <li>Address: <%= @tour.address %></li>
        <li>$<%= @tour.tour_price.price_adult %> Adults</li>
        <li>$<%= @tour.tour_price.price_child %> Children</li>
      </ul>
    </div>
    <div class='col-md-4'>
    </div>   
  </div>
  <hr>
  
  <div class='row'>
     <div class="col-md-2">
      <h3>Location</h3>
     </div>
    
    <div class='col-md-6'>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@tour.latitude}%2C#{@tour.longitude}" %>
    </div>  
        <div class='col-md-4'>
    </div>  
  </div>
  <hr>
  
  <div class='row'>
    <div class="col-md-2">
      <h3>Your Guide</h3>
      <%= @tour.tour_guide.name %>
     </div>
    <div class='col-md-6'>
      <%= @tour.tour_guide.description %>
    </div>
    <div class='col-md-4'>
    </div>   
  </div>
  <hr>
  
  
<hr>
  



<p>
  <strong>Tour Guide:</strong>
  <%= @tour.tour_guide.name %>
</p>


<p>
  <strong>Adult Price:</strong>
  <%= @tour.tour_price.price_adult %>
</p>

<p>
  <strong>Child Price:</strong>
  <%= @tour.tour_price.price_child %>
</p>



<p>
  
</p>


<%= link_to 'Back', tours_path %>

<h3>Nearby Tours</h3>
<ul>
<% for tour in @tour.nearbys(10) %>
  <li><%= link_to tour.name, tour %> (<%= tour.distance.round(2) %> miles)</li>
<% end %>
</ul>



<!-- <h3>Calendar Listings</h3>
<ul>

  <% @calendars.each do |calendar| %>
  <li><%= calendar.calendar_datetime %></li>
  <%end%>
</ul> -->

<div id='calendar'> 
  <h2 id='month'>
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y")%>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
  <%= calendar_for @calendars, :year => @date.year, :month => @date.month do |t| %>
  <%= t.head('Sun','Mon','Tues','Wed','Thurs','Fri','Sat') %>
  <%= t.day(:day_method => :calendar_datetime) do |date, calendars| %>
        <%= date.day %>
        <ul>
          <% for calendar in calendars %>
              <% if user_signed_in? %>
                <li><%= link_to h(calendar.tour.name), new_booking_path(:calendar_id => calendar.id) %></li>
              <% else %>
                <li><%= link_to h(calendar.tour.name), new_user_registration_path %></li>
              <% end %>
          <%end%>
        </ul>
       <% end %>
  <% end %>
</div>


<!--  Admin Only -->

<% if can? :manage, @tour %>

  <p>
    <strong>Created at:</strong>
    <%= @tour.created_at %>
  </p>

  <p>
    <strong>Meeting Point Latitude:</strong>
    <%= @tour.latitude %>
  </p>

  <p>
    <strong>Meeting Point Longitude:</strong>
    <%= @tour.longitude %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @tour.tour_price.name %>
  </p>

  <p>
    <strong>Min Customer Threshold:</strong>
    <%= @tour.min_customer_threshold %>
  </p>
  
  <p>
    <strong>City:</strong>
    <%= @tour.tour_city %>
  </p>

  <%= link_to 'Edit', edit_tour_path(@tour) %>

<%end%>|
  
</div>






