<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @tour.created_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @tour.short_description %>
</p>

<p>
  <strong>Long description:</strong>
  <%= @tour.long_description %>
</p>

<p>
  <strong>Tour Guide:</strong>
  <%= @tour.tour_guide.name %>
</p>

<p>
  <strong>Tour City:</strong>
  <%= @tour.tour_city.city %>
</p>

<p>
  <strong>Meeting Point Description:</strong>
  <%= @tour.meeting_point_description %>
</p>

<p>
  <strong>Address of Meeting Point:</strong>
  <%= @tour.address %>
</p>

<p>
  <strong>Meeting Point Latitude:</strong>
  <%= @tour.latitude %>
</p>

<p>
  <strong>Meeting Point Longitude:</strong>
  <%= @tour.longitude %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tour.tour_price.name %>
</p>

<p>
  <strong>Min Customer Threshold:</strong>
  <%= @tour.min_customer_threshold %>
</p>

<p>
  <%= image_tag @tour.tour_image.url(:square) %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>

<h3>Nearby Tours</h3>
<ul>
<% for tour in @tour.nearbys(10) %>
  <li><%= link_to tour.name, tour %> (<%= tour.distance.round(2) %> miles)</li>
<% end %>
</ul>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@tour.latitude}%2C#{@tour.longitude}" %>

<!-- <h3>Calendar Listings</h3>
<ul>

  <% @calendars.each do |calendar| %>
  <li><%= calendar.calendar_datetime %></li>
  <%end%>
</ul> -->

<div id='calendar'> 
  <h2 id='month'>
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y")%>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
  <%= calendar_for @calendars, :year => @date.year, :month => @date.month do |t| %>
  <%= t.head('Sun','Mon','Tues','Wed','Thurs','Fri','Sat') %>
  <%= t.day(:day_method => :calendar_datetime) do |date, calendars| %>
        <%= date.day %>
        <ul>
          <% for calendar in calendars %>
            <li><%= link_to h(calendar.tour.name), new_booking_path(:calendar_id => calendar.id) %></li>
          <%end%>
        </ul>
       <% end %>
  <% end %>
</div>







