<%= form_for(@calendar) do |f| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% @calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :calendar_datetime, class: 'control-label' %><br>
    <div class = "controls">
      <%= f.datetime_select :calendar_datetime %>
    </div>
  </div>

   <div class='control-group'>
    <%= f.label :tour, class: 'control-label'%><br>
    <div class = "controls">
      <%= collection_select( :calendar, :tour_id, Tour.all, :id, :name, {:multiple => false})%>
    </div>
   </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
