<h1>Tour Calendar</h1>

<div class='media'>
  <div class='media-body'>
     <table class='table table-hover'>
        <thead>
          <tr>
            <th>DateTime</th>
            <th>Tour</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @calendars.each do |calendar| %>
            <tr>
              <td><%= calendar.calendar_datetime.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= calendar.tour.name %></td>
              <td><%= link_to 'Show', calendar, class: 'btn btn-mini' %></td>
              <td><%= link_to 'Edit', edit_calendar_path(calendar), class: 'btn btn-mini btn-success' %></td>
              <td><%= link_to 'Destroy', calendar, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Calendar Listing', new_calendar_path %>

<div id='calendar'> 
  <h2 id='month'>
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y")%>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
  <%= calendar_for @calendars, :year => @date.year, :month => @date.month do |t| %>
  <%= t.head('Sun','Mon','Tues','Wed','Thurs','Fri','Sat') %>
  <%= t.day(:day_method => :created_at) do |date, calendars| %>
        <%= date.day %>
        <ul>
          <% for calendar in calendars %>
            <li><%= link_to h(calendar.tour.name), calendar %></li>
          <%end%>
        </ul>
       <% end %>
  <% end %>
</div>

