<p id="notice"><%= notice %></p>
<h1>Tour Calendar Listing</h1>
<p>
  <strong>DateTime:</strong>
  <%= @calendar.calendar_datetime %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @calendar.tour.name %>
</p>

<p>
  <strong>Tour Description:</strong>
  <%= @calendar.tour.short_description %>
</p>
<!-- <%= link_to 'Create a booking', new_booking_path(:calendar_id => @calendar.id) %> -->

<p>Calendar ID</p>
<%= @calendar.id %>
<br>

<%= link_to 'Create a booking', {:controller => "bookings", 
                       :action => "create", 
                       :calendar_id => @calendar.id,
                       :user_id => current_user.id},
                       :method => "post" %>
<br>
<%= link_to 'Edit', edit_calendar_path(@calendar) %>
<%= link_to 'Back', calendars_path %>
