<p id="notice"><%= notice %></p>

<p>
  <strong>DateTime:</strong>
  <%= @calendar.calendar_datetime %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @calendar.tour.name %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
