<%= bootstrap_form_for(@tour_guide) do |f| %>

  <% if @tour_guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour_guide.errors.count, "error") %> prohibited this tour_guide from being saved:</h2>

      <ul>
      <% @tour_guide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, placeholder: "Enter name of tour guide" %>
  <%= f.text_field :description, placeholder: "Enter description of tour guide" %>
  <%= f.file_field :tour_guide_image %>
  <%= f.submit %>

<% end %>

