<form>

<%= form_for(@tour_city) do |f| %>
  <% if @tour_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour_city.errors.count, "error") %> prohibited this tour_city from being saved:</h2>

      <ul>
      <% @tour_city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <label for="city" class="col-sm-2 control-label">City</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name='city' id="city" placeholder="City">
      </div>
    </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</form>
