<div class="modal fade" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


  <div class="modal-dialog modal-sm">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log In</h4>
      </div>
      <div class="modal-body">
            <%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <%= f.email_field :email, :autofocus => true %>
                <%= f.password_field :password %>
                <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me %>
                <% end %>    
                <%= f.submit "Log in", :class => 'btn btn-block button_pink' %>
            <% end %>
            <br>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
            <% end -%>
        <hr>
        <p>Already have an account? <%= link_to "Sign Up", "#sign_up", "data-toggle" => "modal", id: 'hide_sign_in', remote: true%></p>
        <hr>
            <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-social btn-block btn-facebook" do %>
                <i class="fa fa-facebook"></i>
                Log in with Facebook
            <% end %>
            <br>
            <%= link_to user_omniauth_authorize_path(:google_oauth2), class: "btn btn-social btn-block btn-google-plus" do %>
                <i class="fa fa-google-plus"></i>
                Log in with Google
            <% end %>
            
        </div>
    </div>
  </div>
</div>
  