<h1>Please confirm your booking</h1>

<p>
  <strong>DateTime:</strong>
  <%= @booking.calendar.calendar_datetime %>
</p>

<p>
  <strong>Tour Description:</strong>
  <%= @booking.calendar.tour.short_description %>
</p>

<p>
  <strong># of Adults:</strong>
  <%= @booking.count_adult %>
</p>

<p>
  <strong># of Children:</strong>
  <%= @booking.count_child %>
</p>

<p>
  <strong>Total Amount: £</strong>
  <%= @amount %>
</p>

<%= render 'form' %>

<%= link_to 'Back', :back %>